html select.form-control:focus,
html input.form-control:focus,
html .dropdown:focus{
    box-shadow: 0 0 8px rgba(0,15,255,0.5);
}

.linha{
    border-color:#000FFF;
}

html .btn-primary{
    background-color:#000FFF !important;
    border-color:#000FFF !important;
}

html .btn-primary:hover,
html .btn-primary:focus,
html .btn-primary:active{
    background-color:#000CCC !important;
    border-color:#000CCC !important;
    box-shadow:none !important;
}

html .c-header-nav .dropdown-item.active,
html .c-header-nav .dropdown-item:active{
    background-color:#c6c6c6 !important;
}